# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

*.lst

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
src/.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
src/hs_err_pid*

# IDEA
src/.idea
.idea
*.iml
*.ipr
*.iws
src/*/target
src/*/*/target
log/*
doc/vuepress/node_modules/*
doc/vuepress/docs/.vuepress/*
doc/system/docs/.vuepress/dist/**/*
/src/*
/doc/*
*.gz
node_modules/*